.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.scrollButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.scrollButton:hover {
  background-color: #0056b3;
}
